---
import Layout from '@/layouts/Layout.astro';
import About from '@/components/section/About.astro'; 
import Experience from '@/components/section/Experience.astro'; 
import Education from '@/components/section/Education.astro'; 
import Hero from '@/components/section/Hero.astro'; 
import Skills from '@/components/section/Skills.astro'; 
import Projects from '@/components/section/Projects.astro'; 
import KeyboardManager from '@/components/section/KeyboardManager.astro'; 

---

<Layout title="ZekiDev.">
	<main>
		<Hero/>
		<About/>
		<Experience/>
		<Education/>
		<Projects/>
		<Skills/>
	</main>
	<KeyboardManager/>
</Layout>

<style>
	
</style>
